/* .grid{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(12, 1fr);
    border: solid 1px;
}

.grid > * {
    background-color: orange;
    border-radius: 5px;
    border: 1px solid black;
} */

section.verde {
    grid-area: verde; 
    background-color: green;
}
section.azul {
    grid-area: azul;
    background-color: blue;
}
section.rosa { 
    grid-area: rosa;
    background-color: pink;
}
section.vermelho {
    grid-area: vermelho;
    background-color: red;
}
section.verdeEscuro{
    grid-area: verdeEscuro;
    background-color: grey;
}
section.marrom {
    grid-area: marrom;
    background-color: brown;
}

#grade {
    display: grid;
    grid-template-areas:
        "verde verde azul azul azul"
        "verde verde vermelho vermelho verdeEscuro"
        "rosa rosa vermelho vermelho marrom";
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    height: 100vh;
}

#grade > *{
    border: radius 25px;
}